

{% for host,inv in nodes|dictsort %}
{%  if inventory_hostname == host %}
{%   if inv.bgpas is defined %}
router bgp {{ inv.bgpas }}
bgp router-id {{ inv.rid }}
{%   endif %}
{%   if inv.ebgplinks is defined %}
{%    for neighbor in inventory_hostname.ebgplinks %}
 neighbor {{ neighbor.nbr-ip }} remote-as {{ neighbor.remote-as }}
!
{%    endfor %}
{%   endif %}
!
{%  endif %}
{% endfor %}
