
{% for host,inv in nodes|dictsort %}
{{ host }}
!
!
 interface loopback 0
  description Router ID
   ip address {{ inv.rid }} 255.255.255.255
!
{%  if inv.ibgpinterfaces is defined %}
{%   for ifname,ifdef in inv.ibgpinterfaces|dictsort %}
!
 interface {{ ifname }}
  description This is a IBGP Interface
   ip address {{ ifdef.ip | ipaddr('address') }} 255.255.255.254
 no shut
!
{%   endfor %}
{%  endif %}
{% endfor %}
