<html>
<head>
  <title>Device Uptime report</title>
</head>
<body>
  <h1>Device Uptime report</h1>
  <table>
    <tr><th>Device Name</th><th>Time in seconds</th></tr>
{% for host,facts in allhosts|dictsort %}
    <tr><td>{{facts.inventory_hostname}}</td><td>{{facts.ansible_sysuptime}}</td></tr>
{% endfor %}
  </table>
</body>
