

{# Basic Device Configuration #}
!
hostname {{hostname}}
!
{# Interface Configuration #}
{% for intname in interfaces %}
interface {{intname.int_name}}
ip address {{intname.address}}
{% endfor %}
!
{# BGP Configuration #}
route bgp 650001
{% for bgp in neighbors %}
neighbor {{bgp.bgp_peer_ip}} remote-as {{bgp.bgp_as}}
{% if bgp.bgp_peer_desc is defined %}
neighbor {{bgp.bgp_peer_ip}} description {{bgp.bgp_peer_desc}}
{% endif %}
{% if bgp.bgp_policy_in is defined %}
neighbor {{bgp.bgp_peer_ip}} route-map {{bgp.bgp_policy_in}} in
{% endif %}
{% if bgp.bgp_policy_out is defined %}
neighbor {{bgp.bgp_peer_ip}} route-map {{bgp.bgp_policy_out}} out
{% endif %}
{% endfor %}
!
