{% if syslog %}
logging host {{syslog}}
{% else %}
!# no syslog value found
{% endif %}

interface loopback 0
ip address {{loopback.ip}}
{#the .ip will call from yaml the ip part from the loopback: {ip:172.16.0.1}#}
{{loopback.subnet|default("255.255.255.255")}}
 {#the .subnet part will look for the subnet key and you can default to present a value if the .subnet isn't found#}
