#
# Nodes in the network
#
# Under the 'nodes:' there are different sub sections listing either the WAN nodes,
# Campus Nodes, or the Public Nodes, each individual node has the followin:
#   * The 'mgmta' IP address, this is the IP address used by ansible
#   * The 'mgmtb'/'rid' is the loopback IP address, only used when deploying IBGP configuration
#   * The 'ebgp/ibgp-interfaces' these are the interfaces configured on the node
#   * The 'ebgp/ibgp-links' lists the details of the remote node being connected to
#
# Note!(All IP's are /31 subnets)
#
# Abbreviation Index:
#   mgmt = management
#   nbr = neighbor
#   ntype = node type
{% macro interface_link(name,ip) %}
{{ name }}: { ip: {{ip}} }{% endmacro %}
{% macro ibgp_link(to,ip) %}
- { ibgp_nbr: {{to}}, nbr_rid: "{{ip}}" }{% endmacro %}
{% macro ebgp_link(to,ip,as) %}
- { ebgp_nbr: {{to}}, nbr_ip: "{{ip}}", remote_as: {{as}} }{% endmacro %}

---
nodes:
{# there will be a loop set for each different "type" of node which
can be seen from the " node.type == 'wan-node' " statement #}
{% for node in nodes %}
{%  if node.ntype == 'wan-node' %}
    {{ node.name }}:
      mgmta:  {{ node.mgmta }}
      rid:    {{ node.mgmtb }}
      type:   {{ node.ntype }}
{# the dictionary sort makes it easier to use specific key/pair values
 when referencing a specific node inventory details#}
{%   for u,i in iosver|dictsort() %}
{%     if node.name in i.members %}
      iosver:     {{ u }}
{%     endif %}
{%   endfor %}
{%   for k,v in asn|dictsort() %}
{%     if node.name in v.members %}
      bgpas:     {{ k }}
{%     endif %}
{%   endfor %}
{%   for t,y in eigrpas|dictsort() %}
{%     if node.name in y.members %}
      eigrpas:     {{ t }}
{%     endif %}
{%   endfor %}
{# IBGP interfaces will be used with another filter to generate the node specific
configuration for only IBGP deployments or changes. See folder /Module3 DataModel/BGP/ibgpconf.j2
for more details  #}
{# The filter for the interfaces below are all similar except that "for link in ?intbgp?" where the
section between the ?? will differ depending on the fabric.yml, or in my case the cloth.yml dictionary
entry for the different type of interface and the different reference used in the type of interface.
For instance intbgp or extbgp. Another note is that "interface_link" is macro which can be found at
the top of this filter #}
{%   for link in intbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ibgpinterfaces:
{%    endif %}
{%   endfor %}
{%   for link in intbgp %}
{%    if link.west == node.name %}
        {{ interface_link(link.west_port,link.west_ip|default('')) }}
{%     elif link.east == node.name %}
        {{ interface_link(link.east_port,link.east_ip|default('')) }}
{%    endif %}
{%   endfor %}
{%   for link in intbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ibgplinks:
{%    endif %}
{%   endfor %}
{%   for link in intbgp %}
{%    if link.west == node.name %}
{%     for rid in nodes %}
{%      if link.east == rid.name %}
{%       with %}
{%        set remoterid = rid.mgmtb %}
        {{ ibgp_link(link.east, remoterid ) }}
{%       endwith %}
{%      endif %}
{%     endfor %}
{%    elif link.east == node.name %}
{%     for rid in nodes %}
{%      if link.west == rid.name %}
{%       with %}
{%        set remoterid = rid.mgmtb %}
        {{ ibgp_link(link.west, remoterid ) }}
{%       endwith %}
{%      endif %}
{%     endfor %}
{%    endif %}
{%   endfor %}
{%   for link in extbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ebgpinterfaces:
{%    endif %}
{%   endfor %}
{%   for link in extbgp %}
{%    if link.west == node.name %}
        {{ interface_link(link.west_port,link.west_ip|default('')) }}
{%     elif link.east == node.name %}
        {{ interface_link(link.east_port,link.east_ip|default('')) }}
{%    endif %}
{%   endfor %}
{%   for link in extbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ebgplinks:
{%    endif %}
{%   endfor %}
{%   for link in extbgp %}
{%    if link.west == node.name %}
        {{ ebgp_link(link.east, link.east_ip, link.east_as ) }}
{%    elif link.east == node.name %}
        {{ ebgp_link(link.west, link.west_ip, link.west_as ) }}
{%    endif %}
{%   endfor %}
{%  endif %}
{% endfor %}

{% for node in nodes %}
{%  if node.ntype == 'campus-node' %}
    {{ node.name }}:
      mgmta:  {{ node.mgmta }}
      rid:    {{ node.mgmtb }}
      type:   {{ node.ntype }}
{%   for u,i in iosver|dictsort() %}
{%     if node.name in i.members %}
      iosver:     {{ u }}
{%     endif %}
{%   endfor %}
{%   for k,v in asn|dictsort() %}
{%     if node.name in v.members %}
      bgpas:     {{ k }}
{%     endif %}
{%   endfor %}
{%   for t,y in eigrpas|dictsort() %}
{%     if node.name in y.members %}
      eigrpas:     {{ t }}
{%     endif %}
{%   endfor %}
{%   for link in intbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ibgpinterfaces:
{%    endif %}
{%   endfor %}
{%   for link in intbgp %}
{%    if link.west == node.name %}
        {{ interface_link(link.west_port,link.west_ip|default('')) }}
{%     elif link.east == node.name %}
        {{ interface_link(link.east_port,link.east_ip|default('')) }}
{%    endif %}
{%   endfor %}
{%   for link in intbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ibgplinks:
{%    endif %}
{%   endfor %}
{%   for link in intbgp %}
{%    if link.west == node.name %}
{%     for rid in nodes %}
{%      if link.east == rid.name %}
{%       with %}
{%        set remoterid = rid.mgmtb %}
        {{ ibgp_link(link.east, remoterid ) }}
{%       endwith %}
{%      endif %}
{%     endfor %}
{%    elif link.east == node.name %}
{%     for rid in nodes %}
{%      if link.west == rid.name %}
{%       with %}
{%        set remoterid = rid.mgmtb %}
        {{ ibgp_link(link.west, remoterid ) }}
{%       endwith %}
{%      endif %}
{%     endfor %}
{%    endif %}
{%   endfor %}
{%   for link in extbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ebgpinterfaces:
{%    endif %}
{%   endfor %}
{%   for link in extbgp %}
{%    if link.west == node.name %}
        {{ interface_link(link.west_port,link.west_ip|default('')) }}
{%     elif link.east == node.name %}
        {{ interface_link(link.east_port,link.east_ip|default('')) }}
{%    endif %}
{%   endfor %}
{%   for link in extbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ebgplinks:
{%    endif %}
{%   endfor %}
{%   for link in extbgp %}
{%    if link.west == node.name %}
        {{ ebgp_link(link.east, link.east_ip, link.east_as ) }}
{%    elif link.east == node.name %}
        {{ ebgp_link(link.west, link.west_ip, link.west_as ) }}
{%    endif %}
{%   endfor %}
{%  endif %}
{% endfor %}

{% for node in nodes %}
{%  if node.ntype == 'public-node' %}
    {{ node.name }}:
      mgmta:  {{ node.mgmta }}
      rid:    {{ node.mgmtb }}
      type:   {{ node.ntype }}
{%   for u,i in iosver|dictsort() %}
{%     if node.name in i.members %}
      iosver:     {{ u }}
{%     endif %}
{%   endfor %}
{%   for k,v in asn|dictsort() %}
{%     if node.name in v.members %}
      bgpas:     {{ k }}
{%     endif %}
{%   endfor %}
{%   for t,y in eigrpas|dictsort() %}
{%     if node.name in y.members %}
      eigrpas:     {{ t }}
{%     endif %}
{%   endfor %}
{%   for link in intbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ibgpinterfaces:
{%    endif %}
{%   endfor %}
{%   for link in intbgp %}
{%    if link.west == node.name %}
        {{ interface_link(link.west_port,link.west_ip|default('')) }}
{%     elif link.east == node.name %}
        {{ interface_link(link.east_port,link.east_ip|default('')) }}
{%    endif %}
{%   endfor %}
{%   for link in intbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ibgplinks:
{%    endif %}
{%   endfor %}
{%   for link in intbgp %}
{%    if link.west == node.name %}
{%     for rid in nodes %}
{%      if link.east == rid.name %}
{%       with %}
{%        set remoterid = rid.mgmtb %}
        {{ ibgp_link(link.east, remoterid ) }}
{%       endwith %}
{%      endif %}
{%     endfor %}
{%    elif link.east == node.name %}
{%     for rid in nodes %}
{%      if link.west == rid.name %}
{%       with %}
{%        set remoterid = rid.mgmtb %}
        {{ ibgp_link(link.west, remoterid ) }}
{%       endwith %}
{%      endif %}
{%     endfor %}
{%    endif %}
{%   endfor %}
{%   for link in extbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ebgpinterfaces:
{%    endif %}
{%   endfor %}
{%   for link in extbgp %}
{%    if link.west == node.name %}
        {{ interface_link(link.west_port,link.west_ip|default('')) }}
{%     elif link.east == node.name %}
        {{ interface_link(link.east_port,link.east_ip|default('')) }}
{%    endif %}
{%   endfor %}
{%   for link in extbgp if (link.west == node.name or link.east == node.name) %}
{%    if loop.first %}
      ebgplinks:
{%    endif %}
{%   endfor %}
{%   for link in extbgp %}
{%    if link.west == node.name %}
        {{ ebgp_link(link.east, link.east_ip, link.east_as ) }}
{%    elif link.east == node.name %}
        {{ ebgp_link(link.west, link.west_ip, link.west_as ) }}
{%    endif %}
{%   endfor %}
{%  endif %}
{% endfor %}
